    {% extends "base.html" %}

    {% block contenido %}

    
    <h1>Listado de especialidades</h1>
    <p>
       <a href={% url "crear_especialidad" %}>Crear especialidad</a>  
    </p>    

    {% if especialidades %}
    <ul>
        {% for especialidad in especialidades %}
        <li>
          {{especialidad}}
          | <a href={% url "detalle_especialidad" especialidad.id %}>Ver mas</a>
          | <a href={% url "modificar_especialidad" especialidad.id %}>Modificar</a>
          | <a href={% url "eliminar_especialidad" especialidad.id %}>Eliminar</a> 

        </li>
        {% endfor %}
    </ul>   
        {% else %}
        <p>Sin especialidades creadas</p>
        {% endif %}
   
     
    {% endblock contenido %}



 <!--         
</body>
</html>
--